/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
/* /*Global variable */
:root{
    --main:#f60b0b;
}

*{
    font-family: 'Mouse Memoirs', sans-serif;
    transition: 0.3s;
}
*::selection{
    background: var(--main);
    color:#fff;
}
html::-webkit-scrollbar{
    width: 10px;
}
html::-webkit-scrollbar-thumb{
    background: var(--main);

}
html::-webkit-scrollbar-track{
    background: #000;
}